<div class="pattern-dots-md top-dots">
    <h1>about</h1>
</div>
<p>
    We do not have a physical location, but rather work entirely remotely. Here are our team members and their info!
</p>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="jaxon-image">
        </div>
        <mat-card-title>
            Sharath M
        </mat-card-title>
        <mat-card-subtitle>
            Founder, Developer
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="mailto:nullwelldev@gmail.com">Email</a>
        <a mat-button href="https://github.com/SharathNaik" target="_blank">GitHub</a>
        <a mat-button href="https://portfolio-weld-eta-24.vercel.app/" target="_blank">Website</a>
    </mat-card-actions>
</mat-card>